@model B2B_Deneme.ViewModels.VMMusteriler
@{
   ViewData["Title"] = "Müşteri Listesi";
}

    <div class="col-sm-12">

        <div class="card">
            <div class="card-header">
                <h5>Müşteri Listesi</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Role</th>
                            <th scope="col">Country</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var musteri in Model.Musteriler)
                    {
                        <tr>
                            <th scope="row">5</th>
                            <td>@musteri["cari_kod"]</td>
                            <td>@musteri["cari_unvan1"]</td>
                            <td>@musteri["cari_EMail"]</td>
                            <td>@musteri["cari_CepTel"]</td>
                            <td>@musteri["cari_vdaire_adi"]</td>
                            <td>@musteri["cari_vdaire_no"]</td>

                        </tr>
                    }
                    
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>