@using System.Data
@model IEnumerable<B2B_Deneme.Models.Order>
@{
    ViewData["Title"] = "Sipariş Oluştur";

}


<div class="container-fluid list-products">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Sipariş Oluştur</h5>
                    <input id="CreDate" type="hidden" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                    <input id="CariKod" type="hidden" value="@Model.FirstOrDefault()?.CariKod">
                    <input id="SipSira" type="hidden" value="@Model.FirstOrDefault()?.SipSira">
                    <input id="SipSeri" type="hidden" value="@Model.FirstOrDefault()?.SipSeri">
                    <input id="Statu" type="hidden" value="0">
                </div>
                <div class="card-header pb-0 text-right">
                    <div class="mb-4">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Sipariş No : @Model.FirstOrDefault()?.SipSeri - @Model.FirstOrDefault()?.SipSira</label>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-5">
                                <label>Müşteri Adı : @Model.FirstOrDefault()?.CariKod </label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-4 ui-draggable-handle" style="position: static;">
                                    <label for="formcontrol-select1">Ürün Seç</label>
                                    <select id="stockSelect" class="form-control btn-square">
                                        <option value="">Seçiniz..</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2">
                                <label>Birim Fiyat</label> <input id="stockPrice" readonly class="form-control digits" disabled="disabled" type="number">
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2">
                                <label>Adet</label>
                                <input id="quantity" class="form-control digits" type="number">
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2">
                                <label>Tutar</label><input id="total" class="form-control digits" disabled="disabled" type="number">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-11">
                        </div>

                        <div class="col-md-1">
                            <button id="ekle" readonly class="btn btn-primary">Ekle</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover" id="SipTable">
                        <thead>
                            <tr>
                                <th>Ürün</th>
                                <th>Sipariş Adeti</th>
                                <th>Birim Fiyatı</th>
                                <th>Toplam</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model)
                            {
                                <tr>
                                    <th>@order.StokKod</th>
                                    <th>@order.Piece</th>
                                    <th>@order.Price</th>
                                    <th>@order.Total</th>

                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@*
<script>
    // Sil düğmelerini seç
    const silButtons = document.querySelectorAll(".silButton");

    // Her sil düğmesine tıklanınca çalışacak kod
    silButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            // Tıklanan düğmenin üstündeki satırı bul
            const row = this.closest("tr");

            // Satırın verilerini al
            const urun = row.cells[0].textContent;
            const siparisAdeti = row.cells[1].textContent;
            const birim = row.cells[2].textContent;
            const toplam = row.cells[3].textContent;

            // Silme işlemini gerçekleştir
            row.remove();


        });
    });


</script>


 *@