@model B2B_Deneme.ViewModels.VMMusteriler
@{
    ViewData["Title"] = "Siparişler";

}


<div class="container-fluid list-products">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Siparişler</h5>
                </div>
                <div class="card-header pb-0 text-right">
                    <a class="btn btn-primary" asp-controller="Order" asp-action="CreateOrder"><span>Sipariş Oluştur</span></a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sipariş No</th>
                                    <th>Sipariş Tarihi</th>
                                    <th>Teslim Tarihi</th>
                                    <th>Sipariş Tutarı</th>
                                    <th>Düzenle</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.CariSipBilgileri != null)
                                {

                                    @foreach (var Cari in Model.CariSipBilgileri)
                                    {
                                        <tr>

                                            <th>@Cari["SipNo"]</th>
                                            <td>@Cari["KTRH"]</td>
                                            <td>@Cari["TESTRH"]</td>
                                            <td>@Cari["SIPTUTAR"]</td>
                                            <td>
                                                @switch (Convert.ToInt32(@Cari["Statu"]))
                                                {
                                                    case 0:
                                                        <span class="badge bg-danger text-white">Hazırlandı</span>
                                                        break;
                                                    case 1:
                                                        <span class="badge bg-success text-white">Beklemede</span>
                                                        break;
                                                    case 2:
                                                        <span class="badge bg-success text-white">Onaylandı</span>
                                                        break;
                                                    case 3:
                                                        <span class="badge bg-success text-white">Red</span>
                                                        break;
                                                    default:
                                                        // Statu bilinmeyen bir değere sahipse, burası çalışır.
                                                        break;
                                                }
                                            </td>
                                            <td>
                                                @*  <a href="/Order/EditOrder/@Cari["SipSira"]"><li data-feather="edit"></li></a>  *@
                                                <form asp-controller="Order" asp-action="EditOrder" method="get">
                                                    <input type="hidden" name="SipSira" value="@Cari["SipSira"]" />
                                                    <button type="submit" class="btn btn-primary btn-xs">Düzenle</button>
                                                </form>
                                            <td>


                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
