@model B2B_Deneme.ViewModels.VMMusteriler

@{
    ViewData["Title"] = "Onay Bekleyen Siparişler<";

}
@section Scripts {
    <script src="~/js/forcreateorder/formoperations.js"></script>
}
<div class="container-fluid list-products">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Onay Bekleyen Siparişler</h5>
                </div>
                <div class="card-header pb-0 text-right">
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="">
                            <thead>
                                <tr>
                                    <th>Sipariş No</th>
                                    <th>Müşteri Adı</th>
                                    <th>Sipariş Tarihi</th>
                                    <th>Teslim Tarihi</th>
                                    <th>Sipariş Tutarı</th>
                                    <th>Görüntüle</th>
                                    <th>Statü Değiştir</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.OrderApprovals != null)
                                {
                                    @foreach (var Order in Model.OrderApprovals)
                                    {
                                        <tr>

                                            <td>@Order["SipNo"]</td>
                                            <td>@Order["Cari"]</td>
                                            <td class="font-success">@Order["KTRH"]</td>
                                            <td>@Order["TESTRH"]</td>
                                            <td>@Order["SIPTUTAR"]</td>
                                            <td style="text-align: center;">
                                                <a id="view" data-sipsira="@Order["SipSira"]" href="#" @* "@Url.Action("OrderSheet", "Order", new { SipSira = Order["SipSira"] })" *@>
                                                    <i style="font-size: 24px;" class="icofont icofont-list"></i>
                                                </a>

                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <form method="post" asp-controller="Users" asp-action="CandidateUsers">

                                                            <button class="btn btn-danger btn-xs" type="submit" data-original-title="btn btn-danger btn-xs" title="">Red</button>
                                                        </form>
                                                    </div>
                                                    <div class="col-md-2">
                                                    </div>
                                                    <div class="col-md-5">
                                                        <form method="post" asp-controller="Users" asp-action="CandidateUsers">

                                                            <button data-userId="" data-Statu="1" id="btnStatuDegistir" class="btn btn-primary btn-xs" type="submit" data-original-title="btn btn-danger btn-xs" title="">Onay</button>
                                                        </form>
                                                    </div>
                                                </div>


                                            </td>

                                        </tr>
                                    }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

